@model ContainerManagementSystem.Models.Shipment.ShipmentViewModel
@using System.Collections
@using ContainerManagementSystem.CommonEnum;

@{
    string CreateUpdateFieldDisplay = Model.ShipmentId == Guid.Empty ? "style=display:none;" : "";
    string CreateUpdateFieldDisable = Model.ShipmentId == Guid.Empty ? "" : "disabled='disabled'";
}

<script>
    $(document).ready(function () {
        $('#SenderCountryId').on('change', function (e) {
            CountryChange(e, 'SenderCountryId', 'SenderCityId');
        });

        $('#DestinationCountryId').on('change', function (e) {
            CountryChange(e, 'DestinationCountryId', 'DestinationCityId');
        });

        $('#SenderCityId').on('change', function (e) {
            UpdateRouteList();
        });

        $('#DestinationCityId').on('change', function (e) {
            UpdateRouteList();
        });

        $('#btnSave').on('click', function () {
            SaveShipment();
        });

        $('#btnBack').on('click', function () {
            GoTOListing();
        });

        $('#btnDispatch').on('click', function () {
            DispatrchItem();
        });

        $('#btnReceive').on('click', function () {
            ReceiveItem();
        });

        SetValues();
    });

    function RefreshPage()
    {
        $.ajax({
            url: '/ShipmentHistory/ShipmentUpdate',
            data: { shipment_id: '@Model.ShipmentId' },
            success: function (data) {
                $('#divBody').html(data);
            },
            error: function (data) { }
        });
    }

    function DispatrchItem()
    {
        $.ajax({
            url: '/ShipmentHistory/DispatchItem',
            data: {shipment_id: '@Model.ShipmentId'},
            success: function(data)
            {
                GenerateMessage('Save Successfully');
                RefreshPage();
            }
        });
    }

    function ReceiveItem()
    {
        $.ajax({
            url: '/ShipmentHistory/ReceiveShipment',
            data: { shipment_id: '@Model.ShipmentId' },
            success: function (data) {
                GenerateMessage('Save Successfully');
                RefreshPage();
            }
        });
    }

    function SetValues()
    {
        //$('#SenderCountryId').trigger('change');

        CountryChange('', 'SenderCountryId', 'SenderCityId', '@Model.SenderCityId');
        CountryChange('', 'DestinationCountryId', 'DestinationCityId', '@Model.DestinationCityId');

        @*$('#SenderCityId').val('@Model.SenderCityId');
        $('#DestinationCityId').val('@Model.DestinationCityId');*@

        UpdateRouteList();

        if('@Model.ShipmentId' != '@Guid.Empty')
        {
            $('#SenderCountryId').attr('disabled', 'disabled');
            $('#SenderCityId').attr('disabled', 'disabled');
            $('#DestinationCountryId').attr('disabled', 'disabled');
            $('#DestinationCityId').attr('disabled', 'disabled');
            $('#ShipmentRouteId').attr('disabled', 'disabled');
        }
    }

    function GoTOListing()
    {
        $.ajax({
            url: '/ShipmentHistory/ViewShipmentHistory',
            success: function(data)
            {
                $('#divBody').html(data);
            }
        });
    }

    function SaveShipment()
    {
        var shipment = {};

        shipment.ShipmentId = '@Model.ShipmentId'
        shipment.ShipmentNo = $('#ShipmentNo').val();
        shipment.ShipmentStatus = $('#ShipmentStatus').val();
        shipment.ShipmentCurrentCityId = $('#ShipmentCurrentCityId').val();
        shipment.ShippingMethod = $('#ShippingMethod').val();
        shipment.SenderCountryId = $('#SenderCountryId').val();
        shipment.SenderCityId = $('#SenderCityId').val();
        shipment.DestinationCountryId = $('#DestinationCountryId').val();
        shipment.DestinationCityId = $('#DestinationCityId').val();
        shipment.ShipmentRouteId = $('#ShipmentRouteId').val();
        shipment.ShipmentRouteIndex = $('#ShipmentRouteIndex').val();

        $.ajax({
            contentType: 'application/json; charset=utf-8',
            url: '/Shipment/ShipmentCreateUpdate',
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify({ shipment: shipment}),
            success: function (data) {
                GenerateMessage('Save Successfully');
            }
        });
    }

    function UpdateRouteList()
    {
        var sender_country_id = $('#SenderCountryId').val();
        var sender_city_id = $('#SenderCityId').val();
        var destination_country_id = $('#DestinationCountryId').val();
        var destination_city_id = $('#DestinationCityId').val();

        $.ajax({
            url: '/Shipment/GetRoutesByCountryCity',
            data: {sender_country_id: sender_country_id,
                sender_city_id: sender_city_id,
                destination_country_id: destination_country_id,
                destination_city_id: destination_city_id
            },
            success: function(data)
            {
                $('#ShipmentRouteId').html(data);
            }
        });
    }

    function CountryChange(e, county_control_id, city_control_id, default_city)
    {
        var country_id = $('#' + county_control_id).val();

        $.ajax({
            url: '/Shipment/GetCityOptionsByCounmtryId',
            data: { country_id: country_id },
            success: function (data)
            {
                $('#' + city_control_id).html(data);

                if (default_city != undefined && default_city != '')
                {
                    $('#' + city_control_id).val(default_city);
                }

                UpdateRouteList();
            }
        });
    }
</script>

<div id="ShipmentUpdatelPage" class="m-l-m m-r-m">
    <div class="row">
        <div class="col-lg-12">



            <div class="col-lg-4" @CreateUpdateFieldDisplay>
                <label for="ShipmentNo">Shipment No</label>
                <input id="ShipmentNo" type="text" disabled="disabled" value="@Model.ShipmentNo" />
            </div>

            <div class="col-lg-12 m-t-m"></div>

            <div class="col-lg-4">
                <label for="SenderCountry">Country From</label>

                <input id="SenderCountry" type="text" disabled="disabled" value="@Model.SenderCountry" />
                <input id="SenderCountryId" type="hidden" disabled="disabled" value="@Model.SenderCountryId" />
            </div>

            <div class="col-lg-4">
                <label for="SenderCountry">City From</label>

                <input id="SenderCity" type="text" disabled="disabled" value="@Model.SenderCity" />
                <input id="SenderCityId" type="hidden" disabled="disabled" value="@Model.SenderCityId" />
            </div>

            <div class="col-lg-12 m-t-m"></div>

            <div class="col-lg-4">
                <label for="DestinationCountry">Country To</label>

                <input id="DestinationCountry" type="text" disabled="disabled" value="@Model.DestinationCountry" />
                <input id="DestinationCountryId" type="hidden" disabled="disabled" value="@Model.DestinationCountryId" />
            </div>

            <div class="col-lg-4">
                <label for="DestinationCountry">City To</label>

                <input id="DestinationCity" type="text" disabled="disabled" value="@Model.DestinationCity" />
                <input id="DestinationCityId" type="hidden" disabled="disabled" value="@Model.DestinationCityId" />
            </div>

            <div class="col-lg-12 m-t-m"></div>

            <div class="col-lg-4" @CreateUpdateFieldDisplay>
                <label for="ShipmentStatus">Status</label>
                <input id="ShipmentStatus" type="text" disabled="disabled" value="@Model.ShipmentStatus" />
            </div>

            <div class="col-lg-4" @CreateUpdateFieldDisplay>
                <label for="CurrentCity">Current Location</label>
                <input id="CurrentCity" type="text" disabled="disabled" value="@Model.ShipmentCurrentCity" />
            </div>
            @{
                if (Model.ShipmentStatus != ShipmentStatus.Delivered.ToString())
                {
                    <div class="col-lg-4" @CreateUpdateFieldDisplay>
                        <label for="NextCity">Next Location</label>
                        <input id="NextCity" type="text" disabled="disabled" value="@Model.ShipmentNextCity" />
                    </div>
                }
            }

            @*<div class="col-lg-4">
                <label for="ShipmentRoute">Route</label>

                <input id="ShipmentRouteId" type="text" disabled="disabled" value="@Model.ShipmentRouteId" />
                <input id="ShipmentRouteId" type="hidden" disabled="disabled" value="@Model.ShipmentRouteId" />
            </div>*@

            <div class="row m-t-m">
                <div class="col-lg-12 content-center">
                    @{
                        if(Model.ShipmentStatus == ShipmentStatus.New.ToString()
                            || Model.ShipmentStatus == ShipmentStatus.Arrived.ToString())
                        {
                            <input type="button" value="Dispatch" id="btnDispatch" />
                        }
                        else if (Model.ShipmentStatus == ShipmentStatus.Dispatched.ToString())
                        {
                            <input type="button" value="Receive" id="btnReceive" />
                        }
                    }

                    <input type="button" value="Back" id="btnBack" />
                </div>
            </div>
        </div>
    </div>
</div>